{% extends "base.twig" %}
{% block main %}
<!-- Héritage de template ? Block(s) ? -->

   <section>
    <form accept-charset="utf-8" action="/n64/ajout/add" method="post">
                <p>Le nom du jeu :
                    <input id="nom" name="nom" type="text"></p>
                    <p>La date de sorti du jeu :
                    <input id="date" name="date" type="text"></p>
                    <p> L'editeur de votre jeu est :</p>
                    <select id="editeur" name="editeur">
                        {% for editeur in editeurs %}
                            <option value={{ editeur.id }}>{{ editeur.nom_editeur }}</option>
                        {% endfor %} 
                    </select>
                      <p> Le developpeur de votre jeu est :</p>
                    <select id="developpeur" name="developpeur">
                        {% for developpeur in developpeurs %}
                            <option value={{ developpeur.id_developpeur }}>{{ developpeur.nom_developpeur }}</option>
                        {% endfor %} 
                    </select>
                        <p> Le genre de votre jeu est :</p>
                    <select id="genre" name="genre">
                        {% for genre in genres %}
                            <option value={{ genre.id_genre }}>{{ genre.nom_genre }}</option>
                        {% endfor %} 
                    </select>
                    
                <p><input type="submit" value="Envoyer"></p>
            </form>
</section>
  

{% endblock %}