<!DOCTYPE html>
<html>
    <head>
        <title>{%block title %}{% endblock %}Jeux n64</title>
        <meta charset="utf8" />
        <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet"> 
    </head>
    <body>
        <header>
            <a href="/n64">
                Nintendo 64
            </a>
            <nav>
                <a href="/n64">Accueil</a>
                <a href="/n64/ajout/">Ajouter</a>
            </nav>
        </header>
        <main>

            {% block main %}{% endblock %}
        </main>
        <footer>
             <img class="img_footer" src="/assets/img/n64_fond.jpg">
        </footer>
    </body>
</html>