{% extends "base.twig" %}
{% block main %}
    
    <p class="important">
            <!-- Héritage de template ? Block(s) ? -->
<section>
    <h2>Les jeux de n64</h2>
    {% for jeux in game %}
        <figure>
       <a href="/n64/{{jeux.nom}}">
        {{jeux.nom}}
       <img src="assets/img/pics/{{ jeux.image }}" alt="arbre" /> 
        </figure>
        </a>
    {% endfor %}
</section>
    </p>
    
{% endblock %}