{% extends "base.twig" %}
{% block main %}
<!-- Héritage de template ? Block(s) ? -->
<div class="grid">
    <article>
        <h2>Decouvrez {{game.nom}}</h2>
            
        
         <div class="card">
    
            <img src="../assets/img/pics/{{ game.image }}" alt="arbre" /> 
            
            <dl>
                <dt>Nom</dt>
                <dd>{{game.nom}}</dd>
                <dt>Date de sortie</dt>
                <dd>{{game.date}}</dd>
                <dt>Editeur</dt>
                <dd>{{game.editeur.nom_editeur}}</dd>
                <dt>Developpeur</dt>
                <dd>{{game.developpeur.nom_developpeur}}</dd>
                <dt>Genre</dt>
                <dd>{{game.genre.nom_genre}}</dd>
            </dl>

        </div>

   
        
    </article>

  
</div>
{% endblock %}